<form action="/inventory" method="POST">
    <div class="form-group">
      <label for="brand">brand:</label>
      <input type="text" id="brand" name="brand">
    </div>
        <div class="form-group">
      <label for="model">model:</label>
      <input type="text" id="model" name="model">
    </div>
    <div class="form-group">
      <label for="doors">doors:</label>
      <input type="Number" id="doors" name="doors">
    </div>
    <div class="form-group">
      <label for="type">type:</label>
      <input type="text" id="type" name="type">
    </div>
    <div class="form-group">
      <label for="seats">seats:</label>
      <input type="text" id="seats" name="seats">
    </div>
    <div class="form-group">
      <label for="transmission">transmission:</label>
      <input type="text" id="transmission" name="transmission">
    </div>
    <div class="form-group">
      <label for="image">image:</label>
      <input type="text" id="image" name="image">
    </div>
    
        <button type="submit">submit</button>
</form> 
